{% extends "App_Folder_HTML/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href='{% static "App_Folder_css/home.css" %}'/>

 <h1><font color="black">ホーム画面</font></h1>
 <div class = "b">
  <p></p>
  <a href="{% url 'index' %}" ><button class="btn">注文管理</button></a>
  <a href="{% url 'admin' %}" ><button class="btn">メニュー画面</button></a>
  <a href="{% url 'admin' %}" ><button class="btn">在庫管理</button></a>
<p>
  <a href="{% url 'qr' %}"><button class="btn">QR発行</button></a>
  <a href="{% url 'qritiran' %}"><button class="btn">QR一覧</button></a>
  <a href="{% url 'reziList' %}"><button class="btn">お会計</button></a>
</p>
</div>
{% endblock %}